Day1 Yhills

In [1]:
print("Hello World")

Hello World

In [2]:
print("Samierrah")

Samierrah

### print not Print

In [7]:
print("Welcome to the Analytics course")

Welcome to the Analytics course

#### print not Print

### Data Types

In [8]:
x=100
print(x)

100

In [9]:
x=100
x

100

In [10]:
type(x)

int

In [12]:
g=2150.25
type(g)

float

In [13]:
course="analytics"

In [14]:
type(course)

str

In [15]:
z=True
type(z)

bool

In [16]:
z=False
type(z)

bool

#### 1.NO decimal point-Integer
#### 2.Decimal Point -Float
#### 3.Text-String(shoud be in inverted comma)
#### 4.True/False -Bool

## RULES FOR NAMING THE VARIABLES

In [1]:
name_list="samierrah","zaina","hritika","aiza"
name_list

('samierrah', 'zaina', 'hritika', 'aiza')

In [2]:
Name_list="samierrah","zaina","hritika","aiza"
Name_list

('samierrah', 'zaina', 'hritika', 'aiza')

#### name_variable is a variable
#### it can't start with a number, but can be in between
#### eg:- n4ame_list, na9me_list, etc

#### special charachters are not allowed( except _) ans space is not allowed

## DATA STRUCTURES

In [4]:
my_list=[1,2,3,4,5,6.7,1.34,"hi",True]
my_list

[1, 2, 3, 4, 5, 6.7, 1.34, 'hi', True]

In [5]:
type(my_list)

list

In [6]:
my_list[0]

1

In [7]:
my_list[5]

6.7

In [8]:
my_list[9]

IndexError: list index out of range

In [10]:
my_list[2]=100
my_list

[1, 2, 100, 4, 5, 6.7, 1.34, 'hi', True]

In [11]:
my_list[5]=99
my_list

[1, 2, 100, 4, 5, 99, 1.34, 'hi', True]

#### list is hetrogeneous- it allows all data types
#### list is written in square brackets
#### retrieve elements using index
#### index starts from 0
#### change values with index
#### list is mutable

In [14]:
my_tuple=(1,2,3,4,5,6.7,1.34,"hi",True)
my_tuple

[1, 2, 3, 4, 5, 6.7, 1.34, 'hi', True]

In [21]:
my_tuple[0]
my_tuple

TypeError: 'int' object is not subscriptable

#### tuple is not mutable
#### tuple is hetrogeneous

In [22]:
type(tuple)

type